<div class='row'>
    {{#each objeto}}
    <div class='col-6'>
        <div class='card'>
        <div class='card-header'>
            <p class='h1' style="font-family: cursive; color:blue"><b>Informacion</b></p>
        </div>
        <div class='card-body text-center'>
            <p>Nombre: {{nombre}}</p>
            <p>Edad: {{edad}}</p>
            <p>Tipo de acceso: {{tipo}}</p>
        </div>
    </div>
    </div>
{{/each}}
</div>